<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>expose-group-by-app</key>
	<false/>
	<key>last-messagetrace-stamp</key>
	<real>482451755.39506501</real>
	<key>mod-count</key>
	<integer>21</integer>
	<key>mru-spaces</key>
	<false/>
	<key>orientation</key>
	<string>left</string>
	<key>persistent-apps</key>
	<array>
		<dict>
			<key>GUID</key>
			<integer>3991205918</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va8wCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAA7AEAAAwAAAABAQAAQXBwbGlj
				YXRpb25zCgAAAAEBAABTYWZhcmkuYXBwAAAIAAAAAQYA
				AAQAAAAYAAAACAAAAAQDAABOAAAAAAAAAAgAAAAEAwAA
				y5cAAAAAAAAIAAAAAQYAADwAAABMAAAACAAAAAAEAABB
				uzimtQAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAA
				AAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFj
				aW50b3NoIEhECAAAAAQDAAAAYH/rCQAAAAgAAAAABAAA
				Qay+12gAAAAkAAAAAQEAADBBODFGM0IxLTUxRDktMzMz
				NS1CM0UzLTE2OUMzNjQwMzYwRBgAAAABAgAAAQEAAAEA
				AADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAA
				AAEFAACjAAAAAQIAADFlMTI5ZWNlNTA3ZTQxZjQyNjgw
				ZDc4NmEwMjk0NTRjMjFlYTA2Nzg7MDAwMDAwMDA7MDAw
				MDAwMDA7MDAwMDAwMDAwMDAwMDAxYTtjb20uYXBwbGUu
				YXBwLXNhbmRib3gucmVhZDswMDAwMDAwMTswMTAwMDAw
				MjswMDAwMDAwMDAwMDA5N2NiOy9hcHBsaWNhdGlvbnMv
				c2FmYXJpLmFwcAAAqAAAAP7///8BAAAAAAAAAA0AAAAE
				EAAALAAAAAAAAAAFEAAAXAAAAAAAAAAQEAAAfAAAAAAA
				AABAEAAAbAAAAAAAAAACIAAALAEAAAAAAAAFIAAAnAAA
				AAAAAAAQIAAArAAAAAAAAAARIAAA4AAAAAAAAAASIAAA
				wAAAAAAAAAATIAAA0AAAAAAAAAAgIAAADAEAAAAAAAAw
				IAAAOAEAAAAAAACB8AAAQAEAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.Safari</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Safari.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Safari</string>
				<key>file-mod-date</key>
				<integer>3517849525</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>3531968915</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3991205930</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va9QCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAA9AEAAAwAAAABAQAAQXBwbGlj
				YXRpb25zDQAAAAEBAABBcHAgU3RvcmUuYXBwAAAACAAA
				AAEGAAAEAAAAGAAAAAgAAAAEAwAATgAAAAAAAAAIAAAA
				BAMAAFEAAAAAAAAACAAAAAEGAABAAAAAUAAAAAgAAAAA
				BAAAQbsyAooAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAA
				AAAAAAAAAAAAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEA
				AE1hY2ludG9zaCBIRAgAAAAEAwAAAGB/6wkAAAAIAAAA
				AAQAAEGsvtdoAAAAJAAAAAEBAAAwQTgxRjNCMS01MUQ5
				LTMzMzUtQjNFMy0xNjlDMzY0MDM2MEQYAAAAAQIAAAEB
				AAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAA
				AAAAAAABBQAApgAAAAECAAA4MDIyOGM3Nzc2NzZiY2U3
				YWZlODhiNTFhOWRmNWE2Zjc3MjQzNmQ5OzAwMDAwMDAw
				OzAwMDAwMDAwOzAwMDAwMDAwMDAwMDAwMWE7Y29tLmFw
				cGxlLmFwcC1zYW5kYm94LnJlYWQ7MDAwMDAwMDE7MDEw
				MDAwMDI7MDAwMDAwMDAwMDAwMDA1MTsvYXBwbGljYXRp
				b25zL2FwcCBzdG9yZS5hcHAAAACoAAAA/v///wEAAAAA
				AAAADQAAAAQQAAAwAAAAAAAAAAUQAABgAAAAAAAAABAQ
				AACAAAAAAAAAAEAQAABwAAAAAAAAAAIgAAAwAQAAAAAA
				AAUgAACgAAAAAAAAABAgAACwAAAAAAAAABEgAADkAAAA
				AAAAABIgAADEAAAAAAAAABMgAADUAAAAAAAAACAgAAAQ
				AQAAAAAAADAgAAA8AQAAAAAAAIHwAABEAQAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.appstore</string>
				<key>dock-extra</key>
				<true/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/App%20Store.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>App Store</string>
				<key>file-mod-date</key>
				<integer>3517414282</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>3531968915</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3991205931</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va+QCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAABAIAAAwAAAABAQAAQXBwbGlj
				YXRpb25zFgAAAAEBAABTeXN0ZW0gUHJlZmVyZW5jZXMu
				YXBwAAAIAAAAAQYAAAQAAAAYAAAACAAAAAQDAABOAAAA
				AAAAAAgAAAAEAwAAV6cAAAAAAAAIAAAAAQYAAEgAAABY
				AAAACAAAAAAEAABBu97xjgAAABgAAAABAgAAAgAAAAAA
				AAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8v
				LwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAYH/r
				CQAAAAgAAAAABAAAQay+12gAAAAkAAAAAQEAADBBODFG
				M0IxLTUxRDktMzMzNS1CM0UzLTE2OUMzNjQwMzYwRBgA
				AAABAgAAAQEAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAA
				AAEBAAAvAAAAAAAAAAEFAACvAAAAAQIAAGI4Zjk4MTdk
				ZDUyMGU1MGUzNWVmMjY2MDE1OWY3ZDE2MzkyM2MxNzE7
				MDAwMDAwMDA7MDAwMDAwMDA7MDAwMDAwMDAwMDAwMDAx
				YTtjb20uYXBwbGUuYXBwLXNhbmRib3gucmVhZDswMDAw
				MDAwMTswMTAwMDAwMjswMDAwMDAwMDAwMDBhNzU3Oy9h
				cHBsaWNhdGlvbnMvc3lzdGVtIHByZWZlcmVuY2VzLmFw
				cAAAqAAAAP7///8BAAAAAAAAAA0AAAAEEAAAOAAAAAAA
				AAAFEAAAaAAAAAAAAAAQEAAAiAAAAAAAAABAEAAAeAAA
				AAAAAAACIAAAOAEAAAAAAAAFIAAAqAAAAAAAAAAQIAAA
				uAAAAAAAAAARIAAA7AAAAAAAAAASIAAAzAAAAAAAAAAT
				IAAA3AAAAAAAAAAgIAAAGAEAAAAAAAAwIAAARAEAAAAA
				AACB8AAATAEAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.systempreferences</string>
				<key>dock-extra</key>
				<true/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/System%20Preferences.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>System Preferences</string>
				<key>file-mod-date</key>
				<integer>3528747662</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>3531968915</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vaxQDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAANAIAAAwAAAABAQAAQXBwbGlj
				YXRpb25zCQAAAAEBAABVdGlsaXRpZXMAAAAUAAAAAQEA
				AEFjdGl2aXR5IE1vbml0b3IuYXBwDAAAAAEGAAAEAAAA
				GAAAACwAAAAIAAAABAMAAE4AAAAAAAAACAAAAAQDAACG
				qwAAAAAAAAgAAAAEAwAAiasAAAAAAAAMAAAAAQYAAFwA
				AABsAAAAfAAAAAgAAAAABAAAQbur0BoAAAAYAAAAAQIA
				AAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAA
				ZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
				AwAAAGB/6wkAAAAIAAAAAAQAAEGsvtdoAAAAJAAAAAEB
				AAAwQTgxRjNCMS01MUQ5LTMzMzUtQjNFMy0xNjlDMzY0
				MDM2MEQYAAAAAQIAAAEBAAABAAAA7xMAAAEAAAAAAAAA
				AAAAAAEAAAABAQAALwAAAAAAAAABBQAAtwAAAAECAAA5
				NThkOTdlNWY4MDExODMzNmNhYTJiYTZiYTk1ZjgwNTAx
				OGI2MzE5OzAwMDAwMDAwOzAwMDAwMDAwOzAwMDAwMDAw
				MDAwMDAwMWE7Y29tLmFwcGxlLmFwcC1zYW5kYm94LnJl
				YWQ7MDAwMDAwMDE7MDEwMDAwMDI7MDAwMDAwMDAwMDAw
				YWI4OTsvYXBwbGljYXRpb25zL3V0aWxpdGllcy9hY3Rp
				dml0eSBtb25pdG9yLmFwcAAAqAAAAP7///8BAAAAAAAA
				AA0AAAAEEAAASAAAAAAAAAAFEAAAjAAAAAAAAAAQEAAA
				sAAAAAAAAABAEAAAoAAAAAAAAAACIAAAYAEAAAAAAAAF
				IAAA0AAAAAAAAAAQIAAA4AAAAAAAAAARIAAAFAEAAAAA
				AAASIAAA9AAAAAAAAAATIAAABAEAAAAAAAAgIAAAQAEA
				AAAAAAAwIAAAbAEAAAAAAACB8AAAdAEAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.ActivityMonitor</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Utilities/Activity%20Monitor.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Activity Monitor</string>
				<key>file-mod-date</key>
				<integer>0</integer>
				<key>file-type</key>
				<integer>1</integer>
				<key>parent-mod-date</key>
				<integer>0</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vawQDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAJAIAAAwAAAABAQAAQXBwbGlj
				YXRpb25zCQAAAAEBAABVdGlsaXRpZXMAAAALAAAAAQEA
				AENvbnNvbGUuYXBwAAwAAAABBgAABAAAABgAAAAsAAAA
				CAAAAAQDAABOAAAAAAAAAAgAAAAEAwAAhqsAAAAAAAAI
				AAAABAMAAJ3OAAAAAAAADAAAAAEGAABUAAAAZAAAAHQA
				AAAIAAAAAAQAAEG7L3GYAAAAGAAAAAECAAACAAAAAAAA
				AA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8v
				DAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAABgf+sJ
				AAAACAAAAAAEAABBrL7XaAAAACQAAAABAQAAMEE4MUYz
				QjEtNTFEOS0zMzM1LUIzRTMtMTY5QzM2NDAzNjBEGAAA
				AAECAAABAQAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAA
				AQEAAC8AAAAAAAAAAQUAAK4AAAABAgAANjExODUyMWRj
				Y2E1ZjllMjUzYzYyODYzNDYxNTE0ODExMWYyM2M4Nzsw
				MDAwMDAwMDswMDAwMDAwMDswMDAwMDAwMDAwMDAwMDFh
				O2NvbS5hcHBsZS5hcHAtc2FuZGJveC5yZWFkOzAwMDAw
				MDAxOzAxMDAwMDAyOzAwMDAwMDAwMDAwMGNlOWQ7L2Fw
				cGxpY2F0aW9ucy91dGlsaXRpZXMvY29uc29sZS5hcHAA
				AACoAAAA/v///wEAAAAAAAAADQAAAAQQAABAAAAAAAAA
				AAUQAACEAAAAAAAAABAQAACoAAAAAAAAAEAQAACYAAAA
				AAAAAAIgAABYAQAAAAAAAAUgAADIAAAAAAAAABAgAADY
				AAAAAAAAABEgAAAMAQAAAAAAABIgAADsAAAAAAAAABMg
				AAD8AAAAAAAAACAgAAA4AQAAAAAAADAgAABkAQAAAAAA
				AIHwAABsAQAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.Console</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Utilities/Console.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Console</string>
				<key>file-mod-date</key>
				<integer>0</integer>
				<key>file-type</key>
				<integer>1</integer>
				<key>parent-mod-date</key>
				<integer>0</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vawQDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAJAIAAAwAAAABAQAAQXBwbGlj
				YXRpb25zCQAAAAEBAABVdGlsaXRpZXMAAAAMAAAAAQEA
				AFRlcm1pbmFsLmFwcAwAAAABBgAABAAAABgAAAAsAAAA
				CAAAAAQDAABOAAAAAAAAAAgAAAAEAwAAhqsAAAAAAAAI
				AAAABAMAAJ32AAAAAAAADAAAAAEGAABUAAAAZAAAAHQA
				AAAIAAAAAAQAAEG72wo1AAAAGAAAAAECAAACAAAAAAAA
				AA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8v
				DAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAABgf+sJ
				AAAACAAAAAAEAABBrL7XaAAAACQAAAABAQAAMEE4MUYz
				QjEtNTFEOS0zMzM1LUIzRTMtMTY5QzM2NDAzNjBEGAAA
				AAECAAABAQAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAA
				AQEAAC8AAAAAAAAAAQUAAK8AAAABAgAAODg2ZjRjNjQ1
				NzIxNDI5YTY0Mzg0ZGI1MzEyMmUyZDljMzAzNzJkODsw
				MDAwMDAwMDswMDAwMDAwMDswMDAwMDAwMDAwMDAwMDFh
				O2NvbS5hcHBsZS5hcHAtc2FuZGJveC5yZWFkOzAwMDAw
				MDAxOzAxMDAwMDAyOzAwMDAwMDAwMDAwMGY2OWQ7L2Fw
				cGxpY2F0aW9ucy91dGlsaXRpZXMvdGVybWluYWwuYXBw
				AACoAAAA/v///wEAAAAAAAAADQAAAAQQAABAAAAAAAAA
				AAUQAACEAAAAAAAAABAQAACoAAAAAAAAAEAQAACYAAAA
				AAAAAAIgAABYAQAAAAAAAAUgAADIAAAAAAAAABAgAADY
				AAAAAAAAABEgAAAMAQAAAAAAABIgAADsAAAAAAAAABMg
				AAD8AAAAAAAAACAgAAA4AQAAAAAAADAgAABkAQAAAAAA
				AIHwAABsAQAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.Terminal</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Utilities/Terminal.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Terminal</string>
				<key>file-mod-date</key>
				<integer>0</integer>
				<key>file-type</key>
				<integer>1</integer>
				<key>parent-mod-date</key>
				<integer>0</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
	</array>
	<key>persistent-others</key>
	<array>
		<dict>
			<key>GUID</key>
			<integer>3584675095</integer>
			<key>tile-data</key>
			<dict>
				<key>arrangement</key>
				<integer>1</integer>
				<key>book</key>
				<data>
				Ym9va5QCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAtAEAAAwAAAABAQAAQXBwbGlj
				YXRpb25zBAAAAAEGAAAEAAAACAAAAAQDAABOAAAAAAAA
				AAQAAAABBgAAJAAAAAgAAAAABAAAQbwQGJMAAAAYAAAA
				AQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAB
				CQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgA
				AAAEAwAAAGB/6wkAAAAIAAAAAAQAAEGsvtdoAAAAJAAA
				AAEBAAAwQTgxRjNCMS01MUQ5LTMzMzUtQjNFMy0xNjlD
				MzY0MDM2MEQYAAAAAQIAAAEBAAABAAAA7xMAAAEAAAAA
				AAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAmAAAAAEC
				AAA3OGVhYjE5ODcwMTdhNWFkOGY5ZDU2MjViYmU2M2E3
				ZGYwYzk2OWRjOzAwMDAwMDAwOzAwMDAwMDAwOzAwMDAw
				MDAwMDAwMDAwMWE7Y29tLmFwcGxlLmFwcC1zYW5kYm94
				LnJlYWQ7MDAwMDAwMDE7MDEwMDAwMDI7MDAwMDAwMDAw
				MDAwMDA0ZTsvYXBwbGljYXRpb25zAKgAAAD+////AQAA
				AAAAAAANAAAABBAAABgAAAAAAAAABRAAADQAAAAAAAAA
				EBAAAFAAAAAAAAAAQBAAAEAAAAAAAAAAAiAAAAABAAAA
				AAAABSAAAHAAAAAAAAAAECAAAIAAAAAAAAAAESAAALQA
				AAAAAAAAEiAAAJQAAAAAAAAAEyAAAKQAAAAAAAAAICAA
				AOAAAAAAAAAAMCAAAAwBAAAAAAAAgfAAABQBAAAAAAAA
				</data>
				<key>displayas</key>
				<integer>1</integer>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Applications</string>
				<key>file-mod-date</key>
				<integer>3531968915</integer>
				<key>file-type</key>
				<integer>2</integer>
				<key>parent-mod-date</key>
				<integer>3543604683</integer>
				<key>preferreditemsize</key>
				<integer>-1</integer>
				<key>showas</key>
				<integer>0</integer>
			</dict>
			<key>tile-type</key>
			<string>directory-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3991205932</integer>
			<key>tile-data</key>
			<dict>
				<key>arrangement</key>
				<integer>2</integer>
				<key>book</key>
				<data>
				Ym9va0ADAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAPAIAAAUAAAABAQAAVXNlcnMA
				AAAMAAAAAQEAAG5pY2tjaGFybHRvbgkAAAABAQAARG93
				bmxvYWRzAAAADAAAAAEGAAAEAAAAFAAAACgAAAAIAAAA
				BAMAAGYsBgAAAAAACAAAAAQDAADOgQYAAAAAAAgAAAAE
				AwAA0YEGAAAAAAAMAAAAAQYAAFAAAABgAAAAcAAAAAgA
				AAAABAAAQbtN3KUAAAAYAAAAAQIAAAIAAAAAAAAADwAA
				AAAAAAAAAAAAAAAAAAgAAAAEAwAAAQAAAAAAAAAEAAAA
				AwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABN
				YWNpbnRvc2ggSEQIAAAABAMAAABgf+sJAAAACAAAAAAE
				AABBrL7XaAAAACQAAAABAQAAMEE4MUYzQjEtNTFEOS0z
				MzM1LUIzRTMtMTY5QzM2NDAzNjBEGAAAAAECAAABAQAA
				AQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAA
				AAAAAQUAAK4AAAABAgAAYjVjYjNkYmJiMGVhODVkNDUz
				NDAzOTNmNjg3YmJjNzM4MmUxNzNmODswMDAwMDAwMDsw
				MDAwMDAwMDswMDAwMDAwMDAwMDAwMDIwO2NvbS5hcHBs
				ZS5hcHAtc2FuZGJveC5yZWFkLXdyaXRlOzAwMDAwMDAx
				OzAxMDAwMDAyOzAwMDAwMDAwMDAwNjgxZDE7L3VzZXJz
				L25pY2tjaGFybHRvbi9kb3dubG9hZHMAAADMAAAA/v//
				/wEAAAAAAAAAEAAAAAQQAAA8AAAAAAAAAAUQAACAAAAA
				AAAAABAQAACkAAAAAAAAAEAQAACUAAAAAAAAAAIgAABw
				AQAAAAAAAAUgAADgAAAAAAAAABAgAADwAAAAAAAAABEg
				AAAkAQAAAAAAABIgAAAEAQAAAAAAABMgAAAUAQAAAAAA
				ACAgAABQAQAAAAAAADAgAAB8AQAAAAAAAAHAAADEAAAA
				AAAAABHAAAAUAAAAAAAAABLAAADUAAAAAAAAAIDwAACE
				AQAAAAAAAA==
				</data>
				<key>displayas</key>
				<integer>0</integer>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Users/nickcharlton/Downloads/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Downloads</string>
				<key>file-mod-date</key>
				<integer>3543603730</integer>
				<key>file-type</key>
				<integer>2</integer>
				<key>parent-mod-date</key>
				<integer>3543603734</integer>
				<key>preferreditemsize</key>
				<integer>-1</integer>
				<key>showas</key>
				<integer>1</integer>
			</dict>
			<key>tile-type</key>
			<string>directory-tile</string>
		</dict>
	</array>
	<key>show-process-indicators</key>
	<true/>
	<key>tilesize</key>
	<integer>40</integer>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
